@import"./common/header.css";
@import"./common/footer.css"; 



    
    nav.nav ul.menu_list > li.aa::before{
        content: url(../images/ICON1.png);
    }
    /* -----breadcrumb---- */
    /* nav.breadcrumb{
         border: 1px solid black; 
        padding: 5px 10px;
        margin: 10px;
    }
    nav.breadcrumb ol.breadcrumb_list{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
    }
    nav.breadcrumb ol.breadcrumb_list > li{
        border: 1px solid red; 
        display: inline-block;
        color: #ab6e13;
        font-size: 16px;
    }
    nav.breadcrumb ol.breadcrumb_list > li::before{
        content: "/";
        font-size: 18px;
        color: black;
        margin: 0 10px;
    }
    nav.breadcrumb ol.breadcrumb_list > li:first-child::before{
        display: none;
    }
    nav.breadcrumb ol.breadcrumb_list > li > a{
          border: 1px solid blue; 
        text-decoration: none;
        display: inline-block;
        color:  #ab6e13;;
    } */
    /* nav.breadcrumb ol.breadcrumb_list > li > a:hover{
        color: #0056b3;
    } */
    /*    ------------------------    */

    
    /* ------------------------------------------------ */
    /* main.main div{
        margin-left: 60px;
    } */

    div.parent_container main.main img.cover_b{
        width: 100%;
        height: 550px;
        background-size: cover;
        display: block;
        margin: 0 auto;

    }
     div.parent_container main.main div.divider_b{
        /* border:  1px solid black; */
        height: 45px;
        /* background-color: white; */
        background-image: url(../images/divider_b.png);
        background-repeat:repeat-x ;
        background-position: center;
        margin: 15px 110px;
        padding: 5px 0 5px ;
    } 
    main.main div.about_a{
        /* border: 1px solid green; */
        width: 950px;
        height:auto;
        display: block;
        margin-top: 140px;
        margin-left: 100px;
    }
    main.main div.about_a div.about_apic{
        display: inline-block;
        vertical-align: top;
        margin-top: 40px;
        z-index: 60;
    }
    main.main div.about_a div.about_apic >img{
        width: 396px;
        height: 386px;
        margin: 50px 40px 0 40px;
        border-radius: 30px;
        box-shadow: 5px 5px 5px 0px gray;
    }
    main.main div.about_a div.about_atext div.h {
        background-image: url(../images/icon4.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        padding: 5px 30px;
    }
    main.main div.about_a div.about_atext div.h h2 {
        /* border: 1px solid red; */
        text-align: center;
        margin: 0 ;
        color: #AB6E13;
        text-shadow: 0px 0px 10px white;
    }
    main.main div.about_a div.about_atext{
        /* border: 1px solid yellow; */
        display: inline-block;
        width: 420px;
        /* height: auto; */
        line-height: 1.5;
        margin: 40px 0 0 0; 
        text-align: center;
        padding: 20px;
    }
    main.main div.about_a div.about_atext div >p {
        text-indent: 2em;
        text-align: left;
        /* text-shadow: 0px 0px 10px gray; */
    }
    main.main div.about_b{
        /* border: 1px solid green; */
        width: 950px;
        height:auto;
        display: block;
        margin-left: 60px;
    }
    main.main div.about_b div.about_btext div.bh {
        /* background-color: #F6D47B; */
        background-image: url(../images/icon4.png);
        background-repeat: no-repeat;
        background-size: contain;
        /* border-radius: 30px; */
        display: inline-block;
        padding: 5px 30px;
    }
    main.main div.about_b div.about_btext div.bh h2 {
        /* border: 1px solid red; */
        text-align: center;
        margin: 0 ;
        color: #AB6E13;
        text-shadow: 0px 0px 10px white;
    }
    main.main div.about_b div.about_btext div >p {
        text-indent: 2em;
        text-align: left;
        /* text-shadow: 0px 0px 10px gray; */
    }
    main.main div.about_b div.about_btext{
        /* border: 1px solid yellow; */
        display: inline-block;
        width: 500px;
        /* height: auto; */
        line-height: 1.5;
        margin: 40px 0px 80px 40px; 
        text-align: center;
        padding: 20px;
    }
    main.main div.about_b div.about_bpic{
        /* border: 1px solid red; */
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 20px;
    }
    main.main div.about_b div.about_bpic >img{
        width: 350px;
        height: 350px;
        margin: 0px 40px 0 0;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 0px gray;
        transform: rotate(10deg);
        transform-origin: 50% 50%;
    }
    main.main div.c{
        /* border: 1px solid black; */
        width: 950px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        /* background-color: white; */
        margin-left: 60px;
    }
    main.main div.c div{
        /* border: 1px solid red; */
        margin: auto;
        width: auto;
        height: auto;
    }
    main.main div.c div.ca >img{
        width: 100px;
        height: 100px;
    }
    main.main div.c div.ch >a{
        text-decoration: none;
    }
    main.main div.c div.ch a >p{
        /* border: 1px solid red; */
        font-size: 14px;
        margin: 0;
        color: #AB6E13;
        transform: translate(20%, 110%); 
    }
    main.main div.c div.cc, div.ce{
        transform: translate(0%, 50%); 
    }
    main.main div.c div.cb, div.cd ,div.cf{
        transform: translate(0%, -50%); 
    }
    