@import"./common/header.css";
@import"./common/footer.css"; 



.wrap{
	display: none;
}
div.parent_container main.main{
    max-width: 1190px;
    /* width: calc(100% - 250px); */
}
div.parent_container main.main  div.cover{
    max-width: 1190px;
    width: 100%;
    /* height: 471px; */
    background-size: contain;
    /* border-radius: 75px; */
    display: block;
    margin: 0;
    /* border:  1px solid red; */
}
 div.parent_container main.main div.divider{
    height: 33px;
    width: 80%;
    /* border: 1px solid black; */
    /* background-image: url(../images/divider2.png);
    background-repeat:no-repeat ; */
    margin: 125px 100px 50px 100px;
}
main.main div.about_wraper{
    /* border: 1px solid black; */
    width: calc(100% - 250px -80px);
    font-size: 0;
    display: block;
    background-image: url(../images/06.png);
    padding-bottom: 150px;
    margin-left: 80px;
}
main.main div.about_wraper div.about_pic, div.about_text{
   /* border: 1px solid blue; */
    font-size: 0;
    display: inline-block;
}
main.main div.about_wraper div.about_pic{
    width: 38%;
    height: 350px;
    margin-left: 70px;
    margin-top: 73px;
    position: relative;
    z-index: 20;
}
main.main div.about_wraper div.about_pic > img.about_pic{
    display: inline-block;
    background-size: cover ;
    width: 100%;
    height: auto;
    z-index: 2;
}
main.main div.about_wraper div.about_text{
    width: 48.5%;
    height: auto;
    display: inline-block;
    transform: translate(-100px, 30px);
    /* border: 1px solid red; */
    /* position: absolute; */
    /* z-index: 10; */
    border:1px solid white;
    background-color:  white;
    border-radius: 20px;
}

main.main div.about_wraper div.about_text  >p{
    font-size: 20px;
    text-align: center;
    line-height: 2;
    margin: 59px 80px 40px 120px;
    /* text-shadow: 0px 0px 10px gray; */
}
main.main div.about_wraper div.about_text  p a{
    text-decoration: none;
    color: #ab6e13;
}
main.main div.announcement{ 
    /* border: 1px solid black; */
    /* width: calc(100% - 250px); */
    font-size: 0px;
    color: #AB6E13;
    margin: 0 auto ;
}
main.main div.announcement > table {
    /* border: 1px solid black; */
    font-size: 24px;
    /* border-collapse: collapse; */
    display: block;
    background-color: #FFF3E1;
    padding: 20px 0 20px 0;
    /* margin-top: 66px; */
}

main.main div.announcement > table >tr,td{
    /* border: 1px solid black; */
    box-sizing: border-box;
    height: 60px;
    padding-left: 150px;
    padding-right: 150px;
}
main.main div.announcement  table td.right{
    border-right:5px solid white;
} 

/*  產品區  */
main.main div.product_wraper{
    /* border: 1px solid red; */
    width: 100% ;
    height: auto;
    text-align: center;
    display: inline-block;
    margin-top: 90px;
    /* background-color: white; */
    background-image: url(../images/photo/product_back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
main.main div.product_wraper div.newproduct_text{
    /* border: 1px solid black; */
    margin-right: 200px;
    margin-left: 100px;
}
main.main div.product_wraper div.newproduct_text > h2{
    margin: 45px 0;
    margin-bottom: 90px;
    color: #AB6E13;
    font-size: 30px;
}
main.main div.product_wraper div.newproduct{
    display: flex;
    flex-wrap: wrap;
    /* border:  1px solid red; */
    justify-content: space-evenly;
    height: auto;
    /* margin-top: 45px; */
    margin-right: 180px;
    margin-left: 80px;
}
main.main div.product_wraper div.newproduct div{
    border: 2px solid black;
    max-width: 194px;
    width: 100%;
    background-color: white;
    border-radius:10px;
    overflow: hidden;
    margin-top: 10px;
}
main.main div.product_wraper div.newproduct div:hover{
    transform: translate(-10px, -10px);
}
main.main div.product_wraper div.newproduct  p{
    font-size: 16px;
}
main.main div.product_wraper div.newproduct  a{
    text-decoration: none;
    color: black;
}
main.main div.product_wraper div.newproduct div.a_pic >a ,img.a_pic{
    /* border: 1px solid green; */
    display: block;
    width: 190px;
    height: 157px;
}
main.main div.product_wraper div.newproduct div.b_pic >a ,img.b_pic{
    display: block;
    width: 190px;
    height: 157px;
    overflow: hidden;
}
main.main div.product_wraper div.newproduct div.c_pic >a ,img.c_pic{
    display: block;
    width: 190px;
    height: 157px;
    overflow: hidden;
}
/* main.main div.product_wraper div.newproduct div.c_pic >a,img.pic:hover{
    background-image: u;

} */
main.main div.product_wraper div.newproduct div.d_pic >a ,img.d_pic{
    display: block;
    width: 190px;
    height: 157px;
    overflow: hidden;
}
 main.main div.product_wraper div.product_text{
    /* border: 1px solid black; */
    margin-right: 200px;
    margin-left: 100px;
}
main.main div.product_wraper div.product_text > h2{
    margin: 90px 0 45px 0px;
    color: #AB6E13;
    font-size: 30px;
}
main.main div.product_wraper div.product_type{
    display: flex;
    /* border:  1px solid red; */
    justify-content: space-evenly;
    height: 235px;
    /* margin-top: 45px; */
    margin-right: 12%;
    margin-left: 7%;
}
main.main div.product_wraper div.product_type >div{
    width: 200px;
    height: 230px;
}
main.main div.product_wraper div.product_type >div:hover{
    transform: translate(-10px, -10px);
}
main.main div.product_wraper div.product_type  p{
    margin: 0;
    font-size: 20px;
}
main.main div.product_wraper div.product_type  a{
    text-decoration: none;
    color: black;
}
main.main div.product_wraper div.product_type div.type_b{
    margin-top: 35px;
}
main.main div.product_wraper div.product_type  img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
main.main div.shop{
    /* border: 1px solid red; */
    width: calc(100%-250px);
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    background-image: url(../images/06.png);
    padding-right: 10%;
    padding-left: 8%;

}
main.main div.shop div.shop_text{
    /* border: 1px solid black; */
    display: inline-block;
    padding-right:80px ;
    color: #AB6E13;
}
main.main div.shop div.shop_pic{
    /* border: 1px solid blue; */
    /* width: 48%; */
    display: inline-block;
    padding-right: 30px;
}
main.main div.shop div.shop_pic >img{
    width: 100%;
}
 /* 開頭 */
 .ml12 {
 font-weight: 200;
 font-size: 24px;
 text-transform: uppercase;
 letter-spacing: 0.5em;
 color: #ab6e13;
 padding-top: 45vh;
 font-family: Varela Round;
}
/* loding */
@media screen and (max-width: 575px){
   .ml12 {
       font-size: 1.2em;
   }
}
.loading >h1{
    margin-top: 0;
}
.ml12 .letter {
 display: inline-block;
 line-height: 1em;
}

.loading{
 height: 100vh;
 width: 100vw;
 text-align: center;
 justify-content: center;
 align-items: center;
 background: white;
 opacity: 1;
 transition: 1s;
}

.fade_out{
   opacity: 0;
}
/* ---------------------- */
img{
    max-width: 100%;
  }
  @media all and (min-width: 992px) and (max-width: 1199.98px){
    div.parent_container main.main{
        max-width: 1190px;
        width: calc(100% - 250px); 
    }
    /* main.main div.announcement  table{
        text-align: center;
    } */
    main.main div.announcement  table  tr,td{
        font-size: 20px;
        padding-left: 70px;
        padding-right: 70px;
    }
    /* main.main div.product_wraper div.product_type{
        margin-right: 200px;
        margin-left: 100px;
    } */
  }
  @media all and (min-width: 768px) and (max-width: 991.98px){
    main.main div.about_wraper div.about_text  >p{
        font-size: 18px;
    }
    main.main div.announcement  table  tr,td{
        font-size: 18px;
        padding-left: 100px;
        padding-right: 100px;
    }
    main.main div.product_wraper div.product_type{
        margin: 0 auto;
    }
    main.main div.product_wraper div.newproduct{
        margin: 0 auto;
        justify-content: space-evenly;
    }

  }
  @media all and (min-width: 576px) and (max-width: 767.98px){
    main.main div.announcement  table  tr,td{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        /* padding: 0 auto; */
        padding-left: 100px;
        padding-right: 100px;
    }
    main.main div.announcement  table  tr{
        align-items: center;
    }
    main.main div.announcement  table td.right{
        border-bottom:5px solid white;
        border-right:none;
    }
    main.main div.product_wraper div.product_type{
        margin: 0 auto;
    }
}       
@media screen and (min-width: 320px) and (max-width: 575px){


}