@import url(./common/footer.css);
@import url(./common/header.css);


    /* ---------------- */
   

    nav.breadcrumb{
        /* border: 1px solid black; */
        padding: 5px 10px;
        margin: 10px;
    }
    nav.breadcrumb ol.breadcrumb_list{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
    }
    nav.breadcrumb ol.breadcrumb_list > li{
        /* border: 1px solid red; */
        display: inline-block;
        color: #ab6e13;
        font-size: 16px;
    }
    nav.breadcrumb ol.breadcrumb_list > li::before{
        content: "/";
        font-size: 18px;
        color: black;
        margin: 0 10px;
    }
    nav.breadcrumb ol.breadcrumb_list > li:first-child::before{
        display: none;
    }
    nav.breadcrumb ol.breadcrumb_list > li > a{
        /*   border: 1px solid blue; */
        text-decoration: none;
        display: inline-block;
        color:  #ab6e13;
    }
    
    div.parent_container main.main div.product_wrapper div.a{
        /* border: 1px solid blue; */
        width: 100%;
        display: inline-block;
        background-color: rgba(255, 255, 255, .5);
        margin-bottom: 50px;
    }
    div.parent_container main.main div.product_wrapper div.a div.apic{
        display: inline-block;
        display: inline-grid;
        grid-template-columns: auto auto auto;
        /* border: 1px solid black; */
        padding: 30px;
        gap: 20px;
        width: 420px;
        margin: 0;
        /* background-color: white; */
        vertical-align: top;
    }
     main.main div.product_wrapper div.a div.apic div{
         /* border: 1px solid red; */
        width: 100px;
        height: 100px;
    }
    main.main div.product_wrapper div.a div.apic div.aa img.a{
        background-size: cover;
        width: 350px;
    } 
    main.main div.product_wrapper div.a div.apic div img.b, img.c ,img.d{
        width: 100px;
    }
    main.main div.product_wrapper div.a div.apic  div.aa{
        grid-column: 1 / 4;
        width: 350px;
        height: 350px;
    }
    main.main div.product_wrapper div.a div.atext{
        /* border: 1px solid green; */
        display: inline-block;
        width: 420px;
        height: auto;
        padding: 20px;
        margin: 0 40px;
       
        /* background-image: url(./images/11.png); */
    }
    main.main div.product_wrapper div.a div.atext h2{
        font-size: 30px;
        text-align: center;
        color:#ab6e13;
    }
    main.main div.product_wrapper div.a div.atext >p{
        font-size: 18px;
        /* color: #FDA04A; */
    }
    main.main div.product_wrapper div.a div.atext div >p{
        font-size: 18px;
        /* color: #FDA04A; */
    }
    main.main div.product_wrapper div.a div.atext >p{
        font-size: 24px;
        text-align: center;
        color: red;
    }
    main.main div.product_wrapper div.a div.atext p.price{
       text-decoration: line-through;
       font-size: 18px;
       color: black;
    }
    main.main div.product_wrapper div.a div.atext form div.input{
        text-align: center;
        font-size: 0;
    }
    main.main div.product_wrapper div.a div.atext form div.input input.reduce{
        /* border: 1px solid palegreen; */
        width: 30px;
        height: 30px;
        border: 1px solid #f6d47b;
    }
    main.main div.product_wrapper div.a div.atext form div.input input.add{
        width: 30px;
        height: 30px;
        border: 1px solid #f6d47b;
    }
    main.main div.product_wrapper div.a div.atext form input{
        display: inline-block;
        background-color: #FBEECF;
        border: 1px solid #f6d47b;
        font-size: 15px;
    }
    main.main div.product_wrapper div.a div.atext form div.input input.buy{
        width: 100px;
        height: 30px;
        text-align: center;
        border-left: none;
        border-right:none ; 
    }
    main.main div.product_wrapper div.a div.atext form button{
        margin: 20px 0px 20px 25px;
        padding: 0 10px;
        width: 150px;
        height: 45px;
        border: 1px solid #f6d47b;
        border-radius:45px ;
        background-color: #F6D47B;
        transition: all .1s linear;
        color: #ab6e13;
    }
    main.main div.product_wrapper div.a div.atext form button >p{
        font-size: 16px;
        margin: 0;
    }
    main.main div.product_wrapper div.a div.atext form button:hover{
        cursor: pointer;
        background-color: #ab6e13;
        color: #fff;
    }
    main.main div.product_wrapper div.b{
        /* border: 1px solid blue; */
        width: 100%;
        background-color: rgba(255, 255, 255, .5);
        margin-top: 50px;
        padding-top: 50px;
    }
    main.main div.product_wrapper div.b p{
        font-size: 18px;
        color: #FDA04A;
    }
    main.main div.product_wrapper div.b div.ba >h2{
        /* border: 1px solid blueviolet; */
        margin: 0;
        font-size: 24px;
        text-align: center;
        color: #ab6e13;
    }
    main.main div.product_wrapper div.b div.bb{
        /* border: 1px solid blueviolet; */
        margin: 50px auto 70px auto;
        font-size: 18px;
        text-align: center;
        color: #FDA04A;
    }
    main.main div.product_wrapper div.b div.bc{
        margin:  
    }
    main.main div.product_wrapper div.b div.bc >img{
        width: 100%;
        height: auto;
        background-size: cover;
    }
    main.main div.product_wrapper div.b div.bd{
        padding-left: 60px;
    }
    main.main div.product_wrapper div.b div.bd >img{
        width: 350px;
        height: 350px;
        background-size: cover;
        display: inline-block;
        margin: 50px;
    }
    main.main div.product_wrapper div.b div.bd >p{
        /* border: 1px solid red; */
        width: auto;
        display: inline-block;
        margin: 120px 50px;
        vertical-align: top;
        line-height: 2;
    }
    main.main div.product_wrapper div.b div.be{
        margin-bottom:100px ;
        padding-left: 60px;
    }
    main.main div.product_wrapper div.b div.be >img{
        width: 350px;
        height: 350px;
        background-size: cover;
        display: inline-block;
        margin: 50px 40px;
    }
    main.main div.product_wrapper div.b div.be >p{
        /* border: 1px solid red; */
        width: 380px;
        display: inline-block;
        margin: 120px 30px 120px 90px;
        vertical-align: top;
        text-indent: 2em;
        font-size: 18px;
        color: #FDA04A;
        line-height: 2;
    }