@import"./common/header.css";
@import"./common/footer.css"; 

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    /* background-color: #F6D47B; */
    background-image:url(../images/back/back01.jpg) ;
    background-repeat: repeat;
    background-position: right; ;
}

nav.nav ul.menu_list li.b::before{
    content: url(../images/ICON1.png);
}
/* ------------------------------------------------ */

/* div.parent_container main.main{
    max-width: 1190px;
    width: calc(100% - 250px);
} */
div.parent_container main.main div.slider  div >img{
    /* max-width: 1190px; */
    width: 100%;
    height: 550px;
    /* background-image: url(../images/productpic/covera2.png); */
    background-repeat: no-repeat;
    background-size: center center;
    display: block;
    margin: 0 auto;
}

div.parent_container main.main div.product_wrapper{
    width: 100%;
    height: auto;
    margin-top: 100px;
    /* border: 1px solid red; */
    /* background-image: url(./images/06.png); */
    background-color:rgba(245, 191, 51, .3);
    padding-right: 10%;
    padding-left: 8.4%;
}
main.main div.product_wrapper div.title >h2{
    color: #F97F0F;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    text-shadow: 0px 0px 10px white;
}
main.main div.product_wrapper div.title {
    margin: 0 auto;
}
main.main div.product_wrapper div.grid{
    display: grid;
    height: auto;
    grid-template-columns: auto auto auto;
    /* border: 1px solid black; */
    /* height: auto; */
    padding: 4.2%;
    gap: 5%;
    box-sizing: border-box;
}
main.main div.product_wrapper div.grid div {
    border: 2px solid #ab6e13;
    font-size: 18px;
    text-align: center;
    /* width: 225px; */
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    }
main.main div.product_wrapper div.grid div img{
    width: 100%;
    height: 230px;
    background-size: contain;
    background-position: cover;
}
main.main div.product_wrapper div.grid div a{
    text-decoration: none;
}
main.main div.product_wrapper div.grid div p{
    margin: 0 10px 10px 10px;
    color: #ab6e13;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

main.main div.product_wrapper div.grid div:hover{
    background-image: url(./images/13.jpeg);
}
main.main div.page {
    /* border: 1px solid red; */
    margin: 50px auto 0px;
    padding-bottom: 25px;
    padding-top: 25px;
}
main.main div.product_wrapper div.page > ul{
    display: flex;
    /* border: 1px solid orange; */
    margin: 0 auto;
    justify-content: flex-end;
}
main.main div.product_wrapper div.page ul li{
    /* border: 1px solid green; */
    border-radius: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #EF9C4F;
    margin: 0 3px;
}
main.main div.product_wrapper div.page ul p{
    /* border: 1px solid purple; */
    font-size: 18px;
    margin: 8px auto;
    width: 30px;
    text-align: center;
    color: white;
}
main.main div.product_wrapper div.page ul a{
    text-decoration: none;
}
main.main div.product_wrapper div.page ul li:hover{
    background-color: #B7170D;
}