@import url(./common/footer.css);
@import url(./common/header.css);

    nav.nav ul.menu_list > li.ff::before{
        content: url(../images/ICON1.png);
        }
        /* div.parent_container main.main{
            max-width: 1190px;
            width: calc(100% - 250px);
        } */
        main.main div.cover> img{
            width: 100%;
            height: 356px;
        }
        main.main div.about_us{
            /* border: 1px solid black; */
            margin: 50px 0;
            color:#ab6e13;
        }
        main.main div.about_us div.t{
            /* border: 1px solid blueviolet; */
            text-align: center;
        }
        main.main div.about_us div.t > h2{
            margin: 0 auto;
            font-size: 24px;
            display: inline-block;
            /* border: 1px solid blueviolet; */
        }
        main.main div.about_us div.c > p{
            text-align: center;
            font-size: 18px;
            /* text-shadow: 0px 0px 10px brown; */
        }

        @media screen and (min-width: 320px) and (max-width: 767.98px){
            main.main div.about_us div.c{
                width: 80%;
                text-align: center;
                margin: 0 auto;
            }
        }

        main.main div.news{
            background-color:rgba(245, 191, 51, .3);
            padding-bottom: 50px;
        }
        main.main div.news div.t{
            /* border: 1px solid blue; */
            text-align: center;
        }
        main.main div.news div.t >h2{
            margin: 20px 0px 20px 0;
            font-size: 20px;
            display: inline-block;
            
            /* border: 1px solid blueviolet; */
        }
        main.main div.news div.news_content{
            /* border: 1px solid red; */
            margin-top: 30px;
            display: flex;
            width: 100%;
            height: 370px;
            justify-content: space-between;
            align-items: center;
            padding-left: 7%;
            padding-right: 12%;
        }
        main.main div.news div.news_content div{
            width: 188px;
            height: 350px;
            /* border: 1px solid green; */
            /* overflow: hidden; */
            text-align: left;
            /* transition: height .5s;*/
            background-color: rgba(255, 255, 255, .6); 
        }
        /* main.main div.news div.news_content div:hover{
            height: 370px;
        } */
        main.main div.news div.news_content div img{
            width: 188px;
            height: 188px;
        }
        main.main div.news div.news_content div p{
            font-size: 16px;
            width: 150px;
            margin: 0 auto;
            /* transition: height 2s; */
        }

        @media screen and (min-width: 992px) and (max-width: 1199.98px){
            main.main div.news div.news_content{
                padding-left: 0;
                padding-right: 0;
                /* justify-content: space-evenly; */
            }
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px){
            main.main div.news div.news_content div{
                width: 23%;
            }
            main.main div.news div.news_content div img{
                width: 100%;
                /* height: 188px; */
            }
            main.main div.news div.news_content div p{
                width: 100%;
            }
        }
        @media screen and (min-width: 320px) and (max-width: 767.98px){
            main.main div.news div.news_content{
                flex-direction: column;
                padding-left: 5%;
                padding-right: 5%;
                height: auto;
            }
            main.main div.news div.news_content div{
                /* display: inline-block; */
                width: 80%;
                

            }
            main.main div.news div.news_content div img{
                display: block;
                margin: 0 auto;
                margin-top: 20px;

            }
            main.main div.news div.news_content div p{
                display: block;
                /* width: auto; */
                vertical-align: text-top;
            }
        }

        main.main div.shop{
            display: flex;
            justify-content: center;
            /* border: 1px solid green; */
            padding-top: 100px;
            padding-bottom: 50px;
            background-color: rgba(255, 255, 255, .5);
        }

        main.main div.shop div.shop_pic {
            width: 500px;
            height: 345px;
        }
        main.main div.shop div.shop_text {
            width: 350px;
            height: 345px;
            /* border: 1px solid blue; */
            text-align: center;
            color: #ab6e13;
        }
        main.main div.shop div.shop_text>h2{
            margin: 20px;
            font-size:24px;  
            line-height: 4;
        }
        @media screen and (min-width: 320px) and (max-width: 575.98px){
            main.main div.shop{
                flex-direction: column;
            }
            main.main div.shop div.shop_pic{
                margin: 0 auto;
                width: 80%;
            }
            main.main div.shop div.shop_text{
                text-align: center;
                margin: 0 auto;
                width: 80%;
            }
        }

    
