*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url(../../images/back/back01.jpg);

}
:root{
  /* --header-height: 60px; */
  --aside-width:250px;
}
/* --------------------- */

/*header */
header.header{
    /* /* border: 1px solid black; */
    /* width: 100%; */
    width: 100%;
    /* max-width: 1440px; */
    height: 60px;
    margin: 0 auto;
    background-color: #AB6E13;
    position: sticky; 
    z-index: 30;
    top: 0px;
    /* background-image: url(../../images/back/images.jpeg);
    background-repeat: repeat; */
}


header.header a.man > img{
    display: inline-block;
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
header.header a.shoppingcar > img{
    display: inline-block;
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 20px;
    margin-right: 8.5%;
}
/*  header */

div.parent_container{
    
    background-image: url(../../images/back/back01.jpg);
    background-repeat:repeat ;
} 

/* div.parent_container aside.aside, div.parent_container main.main{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box;
} */

 /* menu */
 div.parent_container aside.aside{
    /* border: 1px solid blue; */
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 40;
    background-color:rgba(246, 212, 123, .7);
}
div.parent_container main.main{
    /* border: 1px solid green; */
    width: calc(100% - var(--aside-width));
    margin-left: var(--aside-width); 
    
    /* background-color: #FFF3E1; */
}
div.parent_container aside.aside a.logo > img{
    width: 239px;
    height: 142px;
    border-radius: 75px 75px 10px 75px;
    position: relative;
    bottom: 71px; 
    background-repeat: no-repeat;
    background-size: cover;
}
div.parent_container aside.aside a.logo > img:hover{
    transform: translate(-10px, -10px);
}
/* div.parent_container aside.aside nav.nav{
    border: 1px solid red;
} */
nav.nav > button{
  display: none;
}
aside.aside nav.nav ul.menu_list > li{
    list-style: none;
    /* border: 1px solid blue; */
    vertical-align: baseline;
    padding: 10px;
    font-size: 20px;
    padding: 10px ;
    display: block;
    margin-left: 50px;
}
aside.aside nav.nav ul.menu_list > li:hover{
    text-shadow: 2px 2px 5px #AB6E13;
    transform: translate(-5px, -5px);
}
aside.aside nav.nav ul.menu_list > li > a{
    text-decoration: none;
    /* color: black; */
    color: #AB6E13;
}
    /*   menu   */


@media all and (min-width: 320px) and (max-width: 991.98px){
      
      div.parent_container aside.aside{
        /* display: none; */
        width: 250px;
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 40;
        background-color:rgba(246, 212, 123, .7);
        transform: translateX(-249px);
        transition: 1s ease-in-out;
      }
      div.parent_container aside.aside nav.nav button.btn{
        display:inline;
        width: 50px;
        height: 50px;
        border-radius: 0 5px 5px 0;
        background-image: url(../../images/menu.png);
        background-size: contain;
        border: none;
        background-color: rgba(246, 212, 123, .7);
        transform: translateX(250px);
        padding: 5px;
        position: absolute;
        top: 5%;
        cursor: pointer;    
        /* transform: translateY(-20px); */
      }
      div.parent_container aside.aside nav.nav button.btn.-on{
        /* border: 2px solid rgba(246, 212, 123, .7); */
        background-color: rgba(246, 212, 123, .7);
        transform: translateX(250px);
        background-image: url(../../images/cross.png);
        background-repeat: no-repeat;
      }
      div.parent_container main.main{
        /* max-width: 991px; */
        /* display: block; */
       margin-left: 0;
       width: 100%;
        

      }
      div.parent_container aside.aside.-open{
        transform: translateX(0px);
        transition: 1s ease-in-out;
      }
      div.parent_container aside.aside nav.nav button.btn_drawer{
        display: inline;
        position: absolute;
        right: -58px;
        top: 10%;
        transform: translate(-100%, -50%);
        color: white;
        border: 0;
        font-size: 1rem; 
        width: 1.8em;    
        padding: 4px 0;
        line-height: 1.6;
        display: inline-block;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
        outline: none;
      }
     
    } 
    
